* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-family: sans-serif;
   font-size: 10px;
}

.header-table,
.wrapper {
   max-width: 98vw;
   margin: 5px auto;
   font-size: 1.1rem;
   font-weight: bold;
   text-align: center;
}

.header-table th {
   background-color: rgb(68, 82, 206);
   color: #fff;
   font-size: 2rem;
}

.header-table td {
   font-size: 4rem;
}


table {
   width: 100%;
   margin: 0 auto;
   /* border-spacing: 0; */
}

table,
th,
td {
   border: 1px solid black;
}

th,
td {
   padding: 5px 20px;
}

tbody tr:nth-child(odd) {
   background-color: #ccc;
}

tbody.tbShift tr {
   transition: .4s;
}

tbody.tbShift tr:hover {
   background-color: #999;
}

.shiftOne,
.shiftTwo,
.shiftThree {
   width: 80px;
}

td.shift {
   font-size: 4rem;
}

td.shiftOne {
   background-color: rgb(8, 214, 214);
}

td.shiftTwo {
   background-color: rgb(0, 140, 255);
}

td.shiftThree {
   background-color: rgb(0, 89, 255);
}

.summaryShift {
   text-align: center;
   font-weight: bold;
}

.time,
.cumulative,
.productivity {
   width: 120px;
}

.target,
.flow,
.scrapProduction,
.scrapMaterial {
   width: 80px;
}

.losses {
   width: 350px;
   text-align: left;
}

.comments {
   text-align: left;
}

thead.shiftOne,
tfoot.shiftOne {
   background-color: rgb(8, 214, 214);
}

thead.shiftTwo,
tfoot.shiftTwo {
   background-color: rgb(0, 140, 255);
}

thead.shiftThree,
tfoot.shiftThree {
   background-color: rgb(0, 89, 255);
}

.summary {
   margin: 5px auto;
   font-size: 2rem;
}

.summary tbody {
   background-color: cornflowerblue;
   color: #fff;
}